<h2><%= @post.img_url %></h2>
<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail">
			<a href="<%= @post.quoted_from %>"><h3 style="font-weight: bold;"><%= @post.quoted_from %></h3></a>
			<a href="<%= @post.img_url %>" class="thumbnail">
				<img src="<%= @post.img_url %>" alt=""/>
			</a>
			<a href="<%= @post.img_url %>"><%= @post.img_url %></a><br>
			<small>Posted by: <%= link_to @post.user.email, profile_path(@post.user) %></small>  |  <small>Tags: <%= convert_to_tag_link @post.tag_list %></small> 
				
		</div>
	</li>
</ul>
<div class="page-header">
  <h3>Comments:</h3>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>User</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
	<% num = 1 %>
	<% @comments.each do |comment| %>
	<tr>
		<td><%= num %></td>
		<td><%= comment.user.email %></td>
		<td><%= comment.comment %></td>
	</tr>
	<% num += 1 %>
	<% end %>
	</tbody>
</table>
<% if user_signed_in? %>
	<h3>Add a Comment:</h3>
	<%= form_for [@post, @comment] do |c| %>
		<%= c.text_area :comment %><br>
		<%= c.submit "Add Comment.", class: "btn btn-mini"%>
	<% end %>
<% else %>
	<p>Sign in to post comments.</p>
<% end %>