<h2><%= @post.img_url %></h2>
<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail">
			<a href="<%= @post.quoted_from %>"><h3 style="font-weight: bold;"><%= @post.quoted_from %></h3></a>
			<a href="<%= @post.img_url %>" class="thumbnail">
				<img src="<%= @post.img_url %>" alt=""/>
			</a>
			<a href="<%= @post.img_url %>"><%= @post.img_url %></a><br>
			<small>Posted by: </small><br><small>Tags: <%= convert_to_tag_link @post.tag_list %></small> 
			<a class="btn btn-mini pull-right" href="#"><i class="icon-star"></i> Favorite</a>	
				<%= form_for @post do |f| %>
				<%= f.label  :tag_list %>
				<%= f.text_field :tag_list %>
				<%= f.submit "Add tags" %>
			<% end %>
		</div>
	</li>
</ul>
<% num = 1%>
<% @comments.each do |comment| %>
	
	<dl class="dl-horizontal">
	  <dt><%= num %> <%= comment.user.email %></dt>
	  <dd><%= comment.comment %></dd>
	</dl>
	<% num += 1 %>
<% end %>

<h3>Comments:</h3>
<%= form_for [@post, @comment] do |c| %>
	<%= c.text_area :comment%><br>
	<%= c.submit "Add Comment.", class: "btn btn-mini"%>
<% end %>
