<h2><%= @post.img_url %></h2>
<ul class="thumbnails">
	<li class="span10">
		<div class="thumbnail">
			<a href="<%= @post.quoted_from %>"><h3 style="font-weight: bold;"><%= @post.quoted_from %></h3></a>
			<a href="<%= @post.img_url %>" class="thumbnail">
				<img src="<%= @post.img_url %>" alt=""/>
			</a>
			<a href="<%= @post.img_url %>"><%= @post.img_url %></a><br>
			<small>Posted by: </small><br><small>Tags: </small> 
			<a class="btn btn-mini pull-right" href="">Favorite</a>
			<a class="btn btn-mini pull-right" href="">Comment</a>
		</div>
	</li>
</ul>


<h3>Comments:</h3>
<%= form_tag "" do %>
	<%= text_area_tag :comment, "", placeholder: "Enter a comment.", cols: 120, rows: 6 %><br>
	<%= submit_tag "Add Comment.", class: "btn btn-mini"%>
<% end %>
