<h2>Post</h2>
<ul class="thumbnails">
	<li class="span4">
		<div class="thumbnail">
			<p style="font-weight: bold;"><%= @post.img_url %></p>
			<a href="<%= @post.img_url %>" class="thumbnail">
				<img src="<%= @post.img_url %>" alt=""/>
			</a>
			<a class="btn btn-mini" href="">Favorite</a>
			<%= link_to "Edit", edit_post_path, class: "btn btn-mini" %>
			<%= link_to "Delete", post_path, class: "btn btn-mini" , method: :delete%>
		</div>
	</li>
</ul>